.contacts__img {
    display: inline-block;
    margin: 0;
    margin-bottom: 30px;
    width: 253px;
    height: 228px;
    background-color: black;
}

.contacts__text {
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: $grey-color;

    @include mq("mobile-l") {
        font-size: 16px;
        line-height: 24px;
    }
}

.contacts__form {
    display: flex;

    @include mq("mobile-l", max) {
        flex-direction: column;
    }

    @include mq("mobile-l") {
        flex-direction: row;
    }
}

.contacts__input {
    width: 100%;
    height: 50px;
    margin-bottom: 17px;
    padding: 16px 26px;

    border: 1px solid #8f95a5;
    border-radius: 5px;

    &::placeholder {
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: $grey-color;
    }

    @include mq("mobile-l") {
    }
}

.contacts__btn {
    width: 100%;
    height: 50px;

    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: $white-color;

    background: #263238;
    border: none;
    border-radius: 5px;

    @include mq("mobile-l") {
        width: 193px;
    }
}
