.footer__container {
    position: relative;
    padding-top: 25px;
    padding-bottom: 25px;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        margin-bottom: 26px;
        width: 100%;
        height: 1px;
        background-color: rgba(196, 196, 196, 1);
    }

    @include mq("mobile-l") {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.footer__logo {
    position: static;
    @include mq("mobile-l", max) {
        display: inline-block;
        margin-bottom: 15px;
    }
}

.policy {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.policy__item {
    position: relative;
    display: inline;
    &:not(:last-child)::after {
        position: absolute;
        top: 0px;
        right: -6px;
        content: ".";
        font-weight: 500;
        font-size: 11px;
        line-height: 16px;

        color: $grey-color;

        @include mq("mobile-l") {
            top: -1px;
            font-size: 12px;
            line-height: 18px;
        }
        @include mq("tablet") {
            top: -3px;
            font-size: 13px;
            line-height: 20px;
        }
        @include mq("laptop") {
            font-size: 16px;
            line-height: 24px;
        }
        @include mq("desktop") {
            font-size: 24px;
            line-height: 36px;
            top: -5px;
            right: -16px;
        }
    }

    &:not(:last-child) {
        margin-right: 9px;

        @include mq("desktop") {
            margin-right: 30px;
        }
    }
}

.policy__link {
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    color: $grey-color;

    @include mq("mobile-l") {
        font-size: 12px;
        line-height: 18px;
    }
    @include mq("tablet") {
        font-size: 13px;
        line-height: 20px;
    }
    @include mq("laptop") {
        font-size: 16px;
        line-height: 24px;
    }
    @include mq("desktop") {
        font-size: 24px;
        line-height: 36px;
    }
}
