.hero__container {
    padding-top: 0;
    text-align: center;
}

.hero__img {
    margin-bottom: 16px;
}

.hero__title {
    display: block;
    margin: 0;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;

    @include mq("mobile-l") {
        font-size: 34px;
        line-height: 45px;
    }

    @include mq("tablet") {
        font-size: 36px;
        line-height: 45px;
    }

    @include mq("desktop") {
        font-size: 48px;
        line-height: 64px;
    }
}

.hero__span-1,
.hero__span-2 {
    @include mq("mobile-l", max) {
        display: block;
    }
}

.hero__text {
    margin: 0;
    margin-bottom: 35px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: $grey-color;

    @include mq("mobile-l") {
        font-size: 16px;
        line-height: 24px;
    }

    @include mq("desktop") {
        font-size: 20px;
        line-height: 30px;
    }
}

.btn {
    display: inline-block;
    padding: 18px 99px;

    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: $white-color;

    background-color: $accent-color;
    border-radius: 5px;

    &--s {
        width: 100%;
        padding: 14px 43px;
        text-align: center;
    }
}
