.pricing__img {
    display: inline-block;
    margin: 0;
    margin-bottom: 10px;
    width: 248px;
    height: 248px;
    background-color: black;
}

.price__item {
    margin-bottom: 63px;
}

.price-content__title {
    margin: 0;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;

    color: $accent-color;
}

.price-content__link {
    padding: 8px 12px;
    background-color: rgba(238, 238, 238, 1);
    border-radius: 5px;

    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: rgba(84, 98, 105, 1);
}

.cost {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: $accent-color;
}
