.title {
    margin: 0;
    margin-bottom: 40px;
    font-weight: 600;
    font-size: 24px;
    line-height: 80px;
    color: $black-color;

    @include mq("mobile-l") {
        font-size: 30px;
    }

    @include mq("laptop") {
        font-size: 36px;
    }
    @include mq("desktop") {
        font-size: 48px;
    }
}

.skills__list {
    display: flex;
    flex-direction: column;

    @include mq("mobile-l") {
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 -30px;
    }

    @include mq("tablet") {
        margin: 0 auto;
        display: grid;
        justify-content: center;
        grid-gap: 10px;
        grid-template-columns: repeat(3, 224px);
        grid-template-rows: repeat(3, 210px);
    }

    @include mq("laptop") {
        grid-gap: 15px;
        grid-template-columns: repeat(3, 303px);
        grid-template-rows: repeat(3, 241px);
    }

    @include mq("desktop") {
        grid-gap: 20px;
        grid-template-columns: repeat(3, 435px);
        grid-template-rows: repeat(3, 343px);
    }
}

.skills__item {
    width: 100%;
    height: 100%;
    padding: 8px 16px 35px 16px;
    background-color: $bgc-1;
    border-radius: 5px;
    text-align: center;

    @include mq("mobile-l", max) {
        &:not(:last-child) {
            margin-bottom: 21px;
        }
    }

    @include mq("mobile-l") {
        display: flex;
        flex-direction: column;
        width: 240px;
        height: 534px;
        flex-basis: calc((100% - 30px) / 2);

        @media screen and (max-width: $tablet - 1px) {
            &:nth-child(even) {
                margin-left: 30px;
            }

            &:not(:nth-last-child(-n + 2)) {
                margin-bottom: 21px;
            }
        }
    }

    @include mq("tablet") {
        width: 100%;
        height: 100%;

        &:last-child {
            padding: 10px 16px;
            display: flex;
            flex-direction: row-reverse;
            position: relative;

            @include mq("laptop") {
                padding: 0 16px;
            }

            @include mq("desktop") {
                padding-left: 45px;
            }

            & .skills-content {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                padding-right: 175px;

                @include mq("laptop") {
                    padding-right: 300px;
                }

                @include mq("desktop") {
                    padding-top: 54px;
                    padding-right: 490px;
                }
            }

            & .btn.hide {
                display: block;
                width: 192px;
            }

            & .btn {
                display: none;
            }

            & .div__img {
                position: absolute;
                top: 0;
                right: 0;
            }
        }
    }

    @include mq("desktop") {
        padding-top: 10px;
        padding-bottom: 90px;
        padding-left: 45px;
        padding-right: 36px;
    }
}

.btn.hide {
    display: none;
}

.skills__item-1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
}
.skills__item-2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}
.skills__item-3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}
.skills__item-4 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

.div__img {
    display: inline-block;
    margin: 0;
    margin-bottom: 20px;
    width: 200px;
    height: 200px;
    background-color: black;

    @include mq("mobile-l") {
        width: 185px;
        height: 185px;
        display: block;
        margin: 0;
        margin-bottom: 10px;
        margin-right: auto;
        margin-left: auto;
        flex-shrink: 0;
    }
}

.skills-content {
    width: 100%;
    text-align: left;

    @include mq("mobile-l") {
        flex-grow: 1;
        padding-right: 74px;
    }

    @include mq("tablet") {
        padding: 0;
    }

    @include mq("laptop") {
        padding-right: 25px;
    }

    @include mq("desktop") {
        padding-right: 0;
    }
}

.skills-content__title {
    display: inline-block;
    margin: 0;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;

    color: $accent-color;

    @include mq("tablet") {
        margin: 0;
        font-size: 20px;
        line-height: 40px;
    }

    @include mq("laptop") {
        font-size: 22px;
        line-height: 80px;
    }

    @include mq("desktop") {
        font-size: 30px;
        line-height: 60px;
    }
}

.text {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: $grey-color;

    @include mq("mobile-l") {
        font-size: 12px;
        line-height: 18px;
    }

    @include mq("tablet") {
        font-size: 13px;
        line-height: 20px;
    }

    @include mq("laptop") {
        font-size: 14px;
        line-height: 21px;
    }

    @include mq("desktop") {
        font-size: 16px;
        line-height: 24px;
    }
}

.skills__span-1,
.skills__span-2 {
    display: inline-block;
}

.skills__span-1 {
    margin-bottom: 10px;
}
