.container {
    width: 100%;
    padding: 0px 32px;
    margin: 0 auto;
    text-align: center;

    @include mq("mobile-s") {
        width: 320px;
        padding: 0 15px;
        padding-bottom: 50px;
    }

    @include mq("mobile-l") {
        width: 575px;
        padding-bottom: 100px;
    }
    @include mq("tablet") {
        width: 728px;
        padding: 0 20px;
        padding-bottom: 50px;
    }

    @include mq("laptop") {
        width: 962px;
        padding: 0 40px;
        padding-bottom: 100px;
    }

    @include mq("desktop") {
        width: 1368px;
        padding: 0 70px;
        padding-bottom: 200px;
    }
}
